/*css main style*/

/*Importovanie fontov*/

/*Vypln pod patu*/
body {
	padding-bottom: 40px;
	color: #5a5a5a;
}

/*Custom style navbar*/
/*##########################################################*/
.navbar-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 20;
}

.navbar-wrapper > .container {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}

.navbar-wrapper .navbar .container {
	width: auto;
}


/*Custom style carousel*/
/*#############################################################*/
.carousel {
	height: 500px;
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 500px;
	background-color: #777;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	height: 500px;
}

/*Custom style marketing*/
/*##############################################################*/
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left:  10px;
}

/*Custom style featurettes*/
/*###############################################################*/
.featurette-divider {
	margin: 80px 0;
}

.featurette-heading{
	font-weight: 300px;
	line-height: 1;
	letter-spacing: -1px;
}

/*Responsive design css*/
/*##############################################################*/
@media (min-width: 768px) {
	.navbar-wrapper {
		margin-top: 20px;
	}

	.navbar-wrapper .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.navbar-wrapper .navbar {
		padding-right: 0px;
		padding-left: 0px;
	}

	.navbar-wrapper .navbar {
		border-radius: 4px;
	}

	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
	.featurette-heading {
		margin-top: 120px;
	}
}